body {
    /* 子元素位置 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 重置样式 */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.a {
    /* 样式 */
    width: 80%;
    height: 1004px;
}

.b {
    width: 100%;
    height: 15%;
    background-color: #01FF1F;
}

.c {
    width: 100%;
    height: 10%;
    background-color: #324A4B;
}
.main{
    width: 100%;
    height: 60%;
}
.d {
    width: 30%;
    height: 100%;
    background-color: #92B1B0;
    float: left;
}

.e {
    width: 40%;
    height: 100%;
    background-color: #AD25FF;
    float: left;
}